@import url("default.css");
span.caption-text {
    font-family: Georgia, serif;
    color: #444;
    font-size: 24px;
    font-weight: normal;
}

img.logo-before-title {
    margin: 30px 20px 30px 20px;
}
